<!DOCTYPE XHTML 1.0 Transitional>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Wyszukiwarka Cards.mtgmarket.pl</title>
    <link href="/Content/dest.css" type="text/css" rel="stylesheet" />
</head>
<body data-ng-app="cards.mtgmarket.pl" data-ng-controller="mtgSearchCtrl as vm">
    <header>
        <a href="/" class="banner">
            <img src="/Content/cards-mtg-market-logo.png" alt="Magic The Gathering Market - mtgmarket.pl" />
        </a>
        <h1>Wyszukiwarka kart Magic The Gathering <small><a href="/">cards.mtgmarket.pl</a></small></h1>
    </header>
    <section id="search">
        <input type="text" placeholder="Wyszukaj kartę" id="search-query"
            data-ng-model="vm.query" data-ng-model-options="{ debounce: 500 }"
            data-ng-change="vm.updateCardsByQuery()" />
    </section>

    <section id="result" when-scrolled="vm.onScrollLoadCards()">
        <div class="card" data-ng-repeat="card in vm.cards">
            <div class="col col-220">
                <a href="{{::card.store_url}}" class="without-effects"><img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{::card.displayedSet.multiverse_id}}&type=card" alt="{{::card.name}}" /></a>
            </div>
            <div class="col col-270">
                <h3>
                    <a href="{{::card.store_url}}" class="without-effects"><img src="http://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&size=small&rarity={{::card.displayedSet.rarity[0]}}&set={{::card.displayedSet.set_id}}"
                        alt="{{::card.displayedSet.set}}"
                        onerror="this.onerror=null;this.src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=';" />
                    {{::card.name }} <small>[{{::card.displayedSet.set_id}} - {{::card.displayedSet.set}}]</small></a>
                </h3>
                <a href="{{::card.store_url}}" class="hide-and-show">Sprawdź naszą ofertę na allegro</a>
                <ul class="without-points">
                    <li data-ng-repeat="edition in card.editions" >
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&size=small&rarity={{::edition.rarity[0]}}&set={{::edition.set_id}}"
                            alt="{{::edition.set}}"
                            onerror="this.onerror=null;this.src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=';" />
                        {{::edition.set_id}} - <strong>{{::edition.set}}</strong>
                    </li>
                </ul>

            </div>
        </div>
    </section>
    <footer data-ng-click="vm.loadNextPage()">
        Powered by mtgmarket.pl
    </footer>
    <script src="/Content/dest.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-57352485-2', 'auto');
      ga('send', 'pageview');
    
    </script>
</body>
</html>
